<body>
    <a name="arriba"></a>
    <header> <img src="../../../assets/imagenes/checkinBGA.png" alt="checkinBGA">
         <div class="center"><h1>Bienvenidos a CheckinBGA</h1></div>   
   </header>
<br><br><br>
<div class="center"><img src="../../../assets/botones/INICIO2.png" alt="logo inicio"></div>
<div class="center">
<nav>
<div class="center">
    <a class="btn btn-outline-info" href="../subsitio/reserva.html" ><b>Reservar</b> </a>
    <a class="btn btn-outline-info" href="../subsitio/historial.html" ><b>Historial</b> </a>
    <a class="btn btn-outline-info" href="../subsitio/busquedahotel-habitacion.html" > <b>Buscar habitación</b></a>
    <a class="btn btn-outline-info" href="../subsitio/galeria.html"> <b>Galeria</b></a> 
    <a class="btn btn-outline-info" href="../subsitio/darsedebaja.html" > <b>Darse de baja</b> </a>
    <a class="btn btn-outline-info" href="../subsitio/ajustesdeperfil.html" > <b>Ajustes de perfil</b> </a>    
</div>
</nav>
</div>
<br>
<div class="center">
        <br>
        <br>
        <br>
        <br>
        <br>
    <footer>
        <div class="center"><h5>Esta pagina fue realizada por: TEAM 4</h5></div>
    </footer>
<body>