<body>
    <a name="arriba"></a>
    <header> <img src="../../../assets/imagenes/checkinBGA.png" alt="checkinBGA">
        <div class="center"><h1>Bienvenidos a CheckinBGA</h1></div>  
    </header>
<br><br>
<div class="center">
    <img src="../botones/INICIO2.png" alt="logo inicio">
</div>
<br>
<div class="center">
    <nav>
    <div class="center">
        <a class="btn btn-outline-info" href="subsitio/login.html"><b>Login</b> </a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Historial</b></a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Buscar habitación</b> </a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Reservar</b> </a>
        <a class="btn btn-outline-info" href="subsitio/galeria.html"> <b>Galeria</b> </a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Darse de baja</b> </a>
        <a class="btn btn-outline-info" href="subsitio/registrarse.html"> <b>Registro</b> </a>
    </div>
    </nav>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="center">
    <br>
    <footer>
        <div class="center"><h5>Esta pagina fue realizada por: TEAM 4</h5></div>
    </footer>
</div>
</body>