
        body{
            width: 99%;


        }
        header{
            background:rgb(0, 0, 0);;
            color:rgb(255, 255, 255);
            align-content: center;
            height:7em;
            margin: 1%;
        }
        header img{
            height: 50px;
            width: 300px;
            align-items: flex-end;
        }
         nav{

             height:10em;

         }
         section{
             background: rgb(240, 230, 230);
             height:22em;
         }
         footer{
             background-image: url(../imagenes/fondologin.jpg);
             color:rgb(255, 255, 255);
             height:15em;
             padding: 1%;

         }
         aside{
             background: rgb(125, 192, 189);
             color: rgb(0, 0, 0);
             height:5em;

         }
         #articulo1{/* 
             background: rgb(241, 238, 238); */
             color:rgb(15, 15, 15);
             /* font-size: x-large; */
         }
         .articulov{
             /* font-family: 'Courier New', Courier, monospace; */
             font-size: 27px;
             background: rgb(255, 255, 255);
         }