
        body{
            width: 99%;


        }
         header{
            background: rgb(165, 207, 233);
             color:rgb(35, 35, 39);
             align-content: center;
             height:3em;

         }
         nav{
           
             height:13em;

         }
         section{
         
             height:21em;
         }
         footer{
            background: rgb(165, 207, 233);
             color:rgb(0, 0, 0);
             height:15em;

         }
         aside{
          
             color: rgb(0, 0, 0);
             height:12em;

         }
         #articulo1{/* 
             background: rgb(241, 238, 238); */
             color:rgb(15, 15, 15);
             /* font-size: x-large; */
         }
         .articulov{
             /* font-family: 'Courier New', Courier, monospace; */
             font-size: 27px;
             background: rgb(255, 255, 255);
         }