body {
    margin: 0;
    padding: 0;
    background: url(../imagenes/descarga\ \(3\).png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  header{
    background:rgba(0, 0, 0, 0.582);
     color:rgb(255, 255, 255);
     text-align: auto;
     align-content: auto;
     height: 7em;
     padding: 3px;
 }
 header img{
  height: 50px;
  width: 300px;
  align-items: flex-end;
 }
 nav{
   color: white;
   margin: 1%;
   padding: 5px;
   height: 3em; 
   /* background: rgba(0, 0, 0, 0.623); */
 }
 nav image{
   background-color: black;
   color: black;
 }

 footer{
    /* background:rgba(0, 0, 0, 0.726); */
    color:rgb(255, 255, 255);
     height:2em;
 }
/*  aside{
     background: rgb(125, 192, 189);
     color: rgb(0, 0, 0);
     height:5em;

 } */
/*  #articulo1{/* 
     background: rgb(241, 238, 238); */
   /*   color:rgb(15, 15, 15); */
     /* font-size: x-large; */
/*  } */ 
/*  .articulov{
     /* font-family: 'Courier New', Courier, monospace; */
   /*   font-size: 27px;
     background: rgb(255, 255, 255);
 }  */