
        body{
            margin: auto;
            padding: auto;
            background-size: cover;
            font-family: sans-serif;
            height: 100vh;   
        }
 
        header{
            background:black;
             color:rgb(255, 255, 255);
             text-align: auto;
             align-content: auto;
             height: 7em;
             padding: 3px;
         }
         header img{
          height: 50px;
          width: 300px;
          align-items: flex-end;
         }
         nav{
             background: rgb(0, 0, 0);
             color: white;
             height:10em;

         }
         section{
             background: rgb(0, 0, 0);
             color:rgb(255, 255, 255);
             height:2em;
         }
         footer{
            background:black;
            color:rgb(255, 255, 255);
            height: 15em;
         }
        
         