
        body{
            margin: auto;
            padding: auto;
            background-size: cover;
            font-family: sans-serif;
            height: 100vh;   
        }
         header{
            background:black;
            color:rgb(255, 255, 255);
            text-align: auto;
            align-content: auto;
            height: 6em;
            padding: 10px;
         }
         header img{
            height: 100px;
            width: 100px;
            margin-top: -70px;
            padding: auto;
        }
         nav{
             background: rgb(0, 0, 0);
             color: white;
             height:10em;

         }
         section{
             background: rgb(0, 0, 0);
             color:rgb(255, 255, 255);
             height:2em;
         }
         footer{
            background:black;
            color:rgb(255, 255, 255);
            height: 15em;
         }
        
         