
        body{
            background-image: url(../imagenes/descarga\ \(3\).png);
            width: 99%;
            background-repeat: no-repeat;
            background-attachment: fixed
        }
         header{
             background:rgba(0, 0, 0, 0.657);
             color:rgb(255, 255, 255);
             align-content: center;
             height:7em;
             margin: 1%;
         }
         header img{
             height: 50px;
             width: 300px;
             align-items: flex-end;
         }
         nav{
             background: rgba(0, 0, 0, 0.609);
             height:10em;
             color: white;

         }
         section{
              height:35em;
              
         }
         footer{
             background: rgba(22, 21, 21, 0.794);
             color:rgb(255, 255, 255);
             height:16em;
             padding: 2%;

         }
         aside{
             color: rgb(255, 255, 255);
             height:5em;

         }
         #articulo1 {
             background: rgba(63, 54, 54, 0.794);
             color:rgb(255, 255, 255);
             /* font-size: x-large; */
         }
         .articulov{
             /* font-family: 'Courier New', Courier, monospace; */
             font-size: 27px;
             background: rgb(255, 255, 255);
         }

         @media screen and (max-width:700px){
            body{
              background: rgb(25, 125, 143);
              }
            .main{
              width: 100%;
              }
            @media screen and (max-width:400px){
              body{
                background: rgb(185, 159, 155);
              }
            .main{
                 width: 100%;
              }
            }
          }