.myDiv {
    border: 1px black;
    background-color: rgb(165, 207, 233);    
    text-align: center;
  }
  .myDiv {
    border: 1px black;
    background-color: rgb(165, 207, 233);    
    text-align: center;
  }
  
  
  
  
  #content { 
    overflow:auto; 
    width: 1000px; 
    background: rgb(165, 207, 233) ; 
  } 
  
  #left, #right { 
    width: 40%; 
    margin:5px; 
    padding: 1em; 
    background: rgb(165, 207, 233); 
  } 
  
  #left  { float:left;  }
  #right { float:right; } 