/* body {
    margin: 0;
    padding: 0;
    background: url(../../../assets/imagenes/descarga.png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed

  } */
  header{
    background:rgba(0, 0, 0, 0.582);
     color:rgb(255, 255, 255);
     text-align: auto;
     align-content: auto;
/*      height: 7em;
     padding: 3px; */
     height: 20%;
     padding: 1%;
     width: 100%;
 }
 header img{
  height: 50px;
  width: 300px;
  align-items: flex-end;
 }