<body>
    <a name="arriba"></a>
    <header> 
        <img src="../../../assets/imagenes/checkinBGA.png" alt="checkinBGA">
        <div class="center"><h1>Galeria</h1></div>
    </header>
    <br>
<div class="center">
    <a class="btn btn-outline-info" href="../subsitio/inicio.html" > <b>Inicio</b> </a>
    <a class="btn btn-outline-info" href="../subsitio/reserva.html" ><b>Reservar</b> </a>
    <a class="btn btn-outline-info" href="../subsitio/historial.html" ><b>Historial</b> </a>
    <a class="btn btn-outline-info" href="../subsitio/busquedahotel-habitacion.html" > <b>Buscar habitación</b></a>
    <a class="btn btn-outline-info" href="../subsitio/darsedebaja.html" > <b>Darse de baja</b> </a>
    <a class="btn btn-outline-info" href="../subsitio/ajustesdeperfil.html" > <b>Ajustes de perfil</b> </a>
</div>
<a href="#abajo">IR ABAJO</a>
<br>
<br>
<a name="foto1"></a>
<div>
    <div class="center">
    <h4>Suite</h4>
    <p class="price">$352.500</p>
    <img src="../../../assets/imagenes/suitePresidencial.jpg" wdth="500" height="450"></div>    
</div>
<br>
<a name="foto2"></a>
<div>
    <div class="center">
    <h4>Individual</h4>
    <p class="price">$150.500</p>
    <img src="../../../assets/imagenes/Cuarto principal.jfif" wdth="500" height="485"></div>    
</div>
<br>
<a name="foto3"></a>
<div>
    <div class="center">
    <h4>Habitación Doble</h4>
    <p class="price">$200.500</p>
    <img src="../../../assets/imagenes/habitacionDoble.jpg" wdth="500" height="485"></div> 

</div>
<br>
<a name="foto4"></a>
<div>
    <div class="center">
    <h4>Queen</h4>
    <p class="price">$250.500</p>
    <img src="../../../assets/imagenes/HI01.jpg" wdth="500" height="330"></div>
</div>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <!-- <a href="inicio.html">IR A INICIO</a> <br>
        <a href="login.html"> IR A LOGIN </a> <br>
        <a href="registrarse.html"> IR A REGISTRO </a> <br>
        <a href="reserva.html"> IR A RESERVAR </a> <br>
        <a href="historial.html"> IR A VER HISTORIAL </a> <br>
        <a href="ajustesdeperfil.html"> IR A ACTUALIZAR DATOS </a> <br>
        <a href="busquedahotel-habitacion.html"> IR A BUSCAR HABITACIONES </a> <br>
        <a href="darsedebaja.html"> IR A DARSE DE BAJA </a> <br><br> -->
        <a name="abajo"></a>
        <a href="#arriba">IR ARRIBA</a> 
        <div class="center"><h6>esta pagina fue realizada por: TEAM 4</h6></div>
    </footer>
    <section></section>
</body>