<body style="text-align: justify">

    <div class="login-box">
      <img src="../../../assets/imagenes/contraseña.PNG" class="avatar" alt="Avatar Image">
      <h1>Olvide Contraseña</h1>
      <form action="../subsitio/login.html">
        <div class="center"><h5>Ingresa el correo electrónico asociado a la cuenta, te enviaremos las instrucciones para restablecer la contraseña.</h5></div>
        <label>Correo</label>
        <input type="text" placeholder="Ingrese Correo">
        <input type="submit" value="Enviar">
        <a href="login.html">Volver al inicio</a><br>
      </form>
    </div>
  </body>